overall:
  agent_name: "random"
  output:
    verbose: false
    render: false
    save:
      no_episodes: 1
      csv: true
      charts: true
      raw: false
      recordings: true
  episodes:
    max: 5
  timesteps:
    max: 1000000
    start_training: 50
agents:
  random:

