overall:
  agent_name: "sarsa"
  env_name: "LunarLander-v2"
  context_capacity: 64
  output:
    verbose: true
    render: false
    save:
      episodes: 10
      csv: true
      charts: true
      raw: false
      recordings: true
  episodes:
    max: 1000
  timesteps:
    max: 4000
    start_training: 0
agents:
  random:
    foo: "bar"
  ddpg:
    alpha: 0.000025
    beta: 0.00025
    gamma: 0.99
    tau: 0.001
    batch_size: 64
    input_dims: [8]
    layer1_size: 400
    layer2_size: 300
    n_actions: 2
    max_size: 100000
  sac:
    sample_size: 50
    batch_size: 64
    learning_rate: 0.0001
    alpha: 0.9
    gamma: 0.99
    scale: 2
    tau: 0.05
    nn_initial_weights: 0.0003
    actor_noise: 0.000001
    no_hidden_neurons: 256
