overall:
  agent_name: "ddpg"
  env_name: "LunarLander-v2"
  output:
    verbose: false
    render: false
    save:
      episodes: 1000
      csv: true
      charts: true
      raw: false
      recordings: true
  episodes:
    max: 1000
  timesteps:
    max: 100000
    start_training: 50
agents:
  random:
    foo: "bar"
  ddpg:
    alpha: 0.000025
    beta: 0.00025
    gamma: 0.99
    tau: 0.001
    batch_size: 64
    input_dims: [8]
    layer1_size: 400
    layer2_size: 300
    n_actions: 2
    max_size: 1000000
